<h1>Reports Listing for Brandon's Fruit Stand</h1>
<p>Here are the available reports you:</p>

<p><%= link_to "Customer Listing", report_customerlist_path%></p>
<p><%= link_to "Product Listing", report_productlist_path%></p>
<p><%= link_to "Sales Listing", report_salelist_path%></p>